*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  gap: 30px;
  padding: 133px 30px;
}

.result {
  background-color: blue;
}
.result__video-container {
  display: flex;
}

.result__video {
  width: 711px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__details {
  background-color: aqua;

}